@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
html {
  scroll-behavior: smooth;
}

/* styles/globals.css */

.animate-wave {
  animation: wave 2s infinite;
  display: inline-block;
  transform-origin: 70% 70%;
}
.underline {
  @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-[#C9E651] transition-all duration-300 group-hover:w-full;
}
.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes slideInWord {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  15% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
}
.word-animate {
  animation: slideInWord 8s infinite;
}
/* .hover\:glow-green:hover {
  box-shadow: 0 0 6px #c9e651, 0 0 10px #c9e651;
} */
@keyframes word-slide {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  15% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
html {
  scroll-behavior: smooth;
}
.animate-word-slide {
  animation-name: word-slide;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
}
.card {
  position: relative;
  border-radius: 0.75rem; /* rounded-xl */
  overflow: hidden; /* keep glow inside */
  border: 0.5px solid transparent; /* base border */
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 0.75rem;
  padding: 2px; /* thickness of the glow */
  background: transparent; /* no glow by default */
  z-index: 1;
  filter: none;
  -webkit-mask: none;
  mask-composite: auto;
  transition: background 0.3s ease, filter 0.3s ease;
}

@media (min-width: 768px) {
  .card:hover::before {
    background: conic-gradient(
      from var(--start, 0deg),
      #528400 0deg 90deg,
      transparent 90deg 360deg
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    filter: drop-shadow(0 0 10px #c9e65188);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}

.scroll-animation {
  display: flex;
  gap: 2rem; /* your gap-8 equivalent */
  animation: scrollLeft 20s linear infinite;
}

.scroll-animation:hover {
  animation-play-state: paused;
}

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.141 0.005 285.823);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.141 0.005 285.823);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.141 0.005 285.823);

  --primary: oklch(0.21 0.006 285.885);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.967 0.001 286.375);

  --secondary-foreground: oklch(0.21 0.006 285.885);

  --muted: oklch(0.967 0.001 286.375);

  --muted-foreground: oklch(0.552 0.016 285.938);

  --accent: oklch(0.967 0.001 286.375);

  --accent-foreground: oklch(0.21 0.006 285.885);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.92 0.004 286.32);

  --input: oklch(0.92 0.004 286.32);

  --ring: oklch(0.705 0.015 286.067);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.141 0.005 285.823);

  --sidebar-primary: oklch(0.21 0.006 285.885);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.967 0.001 286.375);

  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);

  --sidebar-border: oklch(0.92 0.004 286.32);

  --sidebar-ring: oklch(0.705 0.015 286.067);

  --background-color: #010313;
  --background-color-2: #181024;
  --text-primary-color: #fff;
  --text-secondary-color: #000;
  --primary-color: #3ca2fa;
  --primary-color-1: #3ca2fa66;
  --primary-color-2: #3ca2fa4d;
  --primary-color-3: #3ca2fa33;
  --primary-color-4: #3ca2fa1a;
  --primary-color-5: #3ca2fa0d;
  --secondary-color: #80eeb4;
  --secondary-color-1: #80eeb4cc;
  --secondary-color-2: #80eeb44d;
  --secondary-color-3: #80eeb433;
  --secondary-color-4: #80eeb41a;
  --white-color: #fff;
  --white-color-2: #ffffffcc;
  --black-color: #000;
  --black-color-2: #736f7f;
  --black-color-3: #8d94a1;
  --black-color-4: #d4d4d4;
  --glass-color: #0d0e1e;
  --glass-color-2: #1b1d2b;
  --glass-color-3: #313240;
  --glass-color-4: #3d3e4b;
  --glass-color-5: #0d0e1e66;
  --border-color: #393a3d;
  --placeholder-color: #8f99b1;
  --copy-right-color: #6a5f77;
  --opacity-text-color: #959596;
  --purple-color: #140e1e80;

  --font-nunito: "Nunito";
  --font-creepster: "Creepster";
}

.dark {
  --background: oklch(0.141 0.005 285.823);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.21 0.006 285.885);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.21 0.006 285.885);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.92 0.004 286.32);

  --primary-foreground: oklch(0.21 0.006 285.885);

  --secondary: oklch(0.274 0.006 286.033);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.274 0.006 286.033);

  --muted-foreground: oklch(0.705 0.015 286.067);

  --accent: oklch(0.274 0.006 286.033);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.552 0.016 285.938);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.21 0.006 285.885);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.274 0.006 286.033);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}